html{
    box-sizing:border-box;
    font-size:62.5%};

*, *:before, *:after{
    box-sizing:inherit;}    

body{
    font-size:16px
}

.nombre-sitio{
    color:#000;
}
.nombre-sitio span {
    color: #037bc0;
}
.sobre-nosotros{

}