/* Globales */
html{
    box-sizing:border-box;
    font-size:62.5%};

*, *:before, *:after{
    box-sizing:inherit;}    

body{
    font: size 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    line-height: 2;
}

a{
    text-decoration: none;
    color:#000;
}
h1{
    font-size: 5rem;
}
h2{
    font-size:4rem;
}
h3{
    font-size:3rem;
}
h1,h2,h3{
    margin: 0 0 5rem 0;
}
img{
    max-width: 100%;
    display: block;
}
.contenedor{
    max-width:120rem;
    margin: 0 auto;
}
@media(min-width:504px){
    .contenedor{
        max-width: 80rem;
    }
}
/*Header y navegacion*/

.nombre-sitio{
    margin : 5rem 0;
    text-align: center;
}

.nombre-sitio{
    color:#000;
}
.nombre-sitio span {
    color: #037bc0;
}
.contenedor-nav{

    border-top: .1rem solid #e1e1e1;
}
.nav-principal{
    padding:2rem 0;
    display:flex;
    justify-content: space-between;
}


.hero{
    height: 55rem;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

/*Categorias */
.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem
}
.categoria a{
    text-align: center;
    display: block;
    padding:2rem;
    font-size: 2rem
}
.categoria a:hover{
    background-color: #037bc0;
    color:#fff;
    border-bottom-right-radius:1rem;
}
.categorias{
    margin-top:5rem;
}
.categorias h2 {
    text-align: center;
}

/* Nosotros*/

.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%,#037bc0 100%),url(../img/nosotros.jpg);
    padding:5rem 0;
    background-repeat: no-repeat;
    background-size: 100%,60rem;
    background-position: left center;
}