/* Globales */
html{
    box-sizing:border-box;
    font-size:62.5%};

*, *:before, *:after{
    box-sizing:inherit;}    

body{
    font-size:16px
}

a{
    text-decoration: none;
    color:#000;
}
/*Header y navegacion*/

.nombre-sitio{
    margin : 50px 0;
    text-align: center;
}

.nombre-sitio{
    color:#000;
}
.nombre-sitio span {
    color: #037bc0;
}

.nav-principal{
    border-top: 1px solid #e1e1e1;
    padding:20px 0;

}
